:root {
    --space: 2rem;
}


* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fff6f7;
}

.nav-left, .nav-right {
    float: left;
    line-height: 3rem;
    width: 50%;
}

.nav-left {
    padding-left: 8rem;
}

.nav-right {
    margin-top: 2rem;
    text-align: right;
    padding-left: 9rem;
}

ul, li {
    float: left;
    /* width: 30%; */
}

ul li {
    list-style: none;
    padding-right: 2rem;

}

ul a {
    font-size: 1.5rem;
    color: black;
    padding-left: 2.5rem;
    text-decoration: none;
    text-transform: capitalize;
}

.first-main {
    margin-top: 5rem;
}

.first-left, .first-right {
    float: left;
}

.first-left {
    width: 30%;
    padding-left: 11rem;
}

.first-right {
    width: 70%;
    padding-left: 5rem;
}

.image-container {
    width: 100%;
}

.img {
    width: 100%;
    display: block;
    height: 100%;
}

h1 {
    font-size: 6rem;
}

p {
    font-size: 2rem;
}

.first-main ul {
    font-size: 2rem;
    padding-left: 10rem;
    margin-top: 7rem;
}

.first-main li {
    padding-left: 7rem;
}

.row {
    margin: 2rem auto;
    max-width: 900px;
}


[class^="col-"]:not(:last-child) {
    margin-right: var(--space);
}

[class^="col-"] {
    float: left;
    /* padding: 0 1rem; */
}

.row:not(:last-child) {
    margin-bottom: var(--space, 20px);
}

.col-1-of-4 {
    width: calc((100% - 3 * (var(--space))) / 4);
}


.clearfix::after {
    clear: both;
    display: block;
    content: "";
}

