:root {
    --space: 3rem;
}


* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fff6f7;
}

.nav-left, .nav-right {
    float: left;
    line-height: 3rem;
    width: 50%;
}

.nav-left {
    padding-left: 8rem;
}

.nav-right {
    margin-top: 2rem;
    text-align: right;
    padding-left: 0rem;
}

ul, li {
    float: left;
    /* width: 30%; */
}

ul li {
    list-style: none;
    padding-right: 3rem;

}


.name {
    padding-left: 3rem;
}

ul a {
    font-size: 1.5rem;
    color: black;
    padding-left: 3rem;
    text-decoration: none;
    text-transform: capitalize;
}

.head {
    text-transform: lowercase;
    margin-top: 3rem;
    padding-left: 2rem;
    font-size: 2rem;
}

.first-main {
    margin-top: 5rem;
}

.first-left, .first-right {
    float: left;
}

.first-left {
    width: 30%;
    padding-left: 11rem;
}

.first-right {
    width: 70%;
    padding-left: 5rem;
}

.image-container {
    width: 100%;
    overflow: hidden;
}

.img, .img2 {
    height: 5rem;
    width: 19%;
    background-color: #f1f1f1;
    padding: 1.5rem;
    border-radius: 3rem;
}

.img2 {
    background-color: #fae8e7;
}

img {
    width: 100%;
    display: block;
    height: 100%;
}

h1 {
    font-size: 6rem;
}

p {
    font-size: 2rem;
}

.first-main ul {
    font-size: 2rem;
    padding-left: 10rem;
    margin-top: 7rem;
}

.first-main li {
    padding-left: 5rem;
}

.row {
    margin: 2rem auto;
    max-width: 1000px;
}


[class^="col-"]:not(:last-child) {
    margin-right: var(--space);
}

[class^="col-"] {
    float: left;
}

.row:not(:last-child) {
    margin-bottom: var(--space, 20px);
}

.col-1-of-3 {
    width: calc((100% - 2 * (var(--space))) / 3);
}

.second-main {
    background-color: #ffffff;
}

.second-center {
    max-width: 1000px;
    margin: 5rem auto;
    padding: 5rem 0;
    margin-bottom: 0;
}

h4 {
    color: #e8a3a2;
    font-size: 2rem;
    text-transform: uppercase;
}

h2 {
    font-size: 4rem;
    font-weight: bold;
}

.card {
    background-color: #fcfcfc;
    padding: 2rem;
    height: 30rem;
    border-radius: 1.5rem;
}

h3 {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 4rem;
}

.words {
    font-size: 2rem;
    font-weight: 100;
}

.btn-btn {
    background-color: #ffffff;
    text-transform: uppercase;
    padding: 1rem;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 1rem;
}

.btn-btn:hover {
    color: #000000;
    background-color: #fcfcfc;
}

.btn-primary {
    font-size: 1.5rem;
    text-transform: uppercase;
    background-color: #4e4694;
    color: #e1dfeb;
    padding: 1rem 0;
    padding-left: 2rem;
    padding-right: 3rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 1.4rem;
    text-align: left;
}

.than {
    padding-left: 9rem;
    font-size: 2.5rem;
    color: #aae7e7;
    font-weight: bold;
}

footer {
    background-color: #f8fafb;
    padding: 5rem 0;
}

.first-footer {
    text-align: center;
}

.list {
    margin: 1rem auto;
    max-width: 370px;
}

.card1 {
    border: 1px solid #f4f6f7;
    font-size: 1.5rem;
    margin: 2rem 0;
    text-transform: capitalize;
}

.btn-secondary {
    text-align: right;
    background-color: #e4f2f3;
    border: none;
    outline: none;
    text-transform: capitalize;
    color: #a5cfca;
    padding-left: 1rem;
    
}

.all {
    background-color: #504697;
    color: #bebbe9;
}


.clearfix::after {
    clear: both;
    display: block;
    content: "";
}

@media only screen and (max-width: 600px) {

    .nav-container {
        padding-top: 1rem;
    }


     .head {
         text-transform: uppercase;
         text-align: center;
         padding-left: 0;
     }

     .nav-left, .nav-right {
         width: 100%;
     }

     .nav-left {
        margin: 1rem auto;
        padding-left: 0;
    }

     .nav-right {
        margin: 1rem auto;
     }


     ul li {
        padding-right: 10px 10px 10px 0px;
    }

     .first-left, .first-right {
         float: none;
     }

     .first-main {
         /* background-image: url(../images/img4.png); */
         background-repeat: no-repeat;
         background-size: 100%;
         margin: 0;
     }

     h1 {
         font-size: 5rem;
         padding-left: 3rem;
         /* text-align: center; */

     }

     .image-container {
         width: 40rem;
     }


     img {
         width: 30rem;
         height: 40rem;
     }

     p {
         font-size: 2rem;
         padding-left: 3rem;
     }

     .first-main ul {
        font-size: 1.5rem;
        padding-left: 0;
        margin-top: 3rem;
     }

     .first-main li {
        padding-bottom: 2rem;
     }

     .btn {
         margin: 2rem auto;
         padding-left: 18rem;
     }

     .btn-primary {
        padding: .5rem 0;
        padding-left: 1rem;
        padding-right: 2rem;
        font-size: 1rem;
     }

     .than {
         padding-left: 5rem;
         font-size: 1.5rem;
         margin-top: 2rem;
     }

     h4, h2 {
        margin-left: 4rem;
        text-align: center;
     }

     h4 {
         font-size: 1.5rem;
     }

     h2 {
         font-size: 3rem
     }

     .row {
        margin: 5rem auto;
        max-width: 400px;
     }

     [class^="col-"] {
        float: none;
    }

    .col-1-of-3 {
        width: 100%;
    }

    .card {
        width: 400px;
        height: 25rem;
        margin-bottom: var(--space);
    }

     h3 {
         font-size: 2rem;
         padding-left: 3rem;
     }

     .images {
         /* padding-left: 3rem; */
         width: 100%;
         height: 100%;
     }

     .words {
         font-size: 1.5rem;
     }

     .img, .img2 {
        height: 6rem;
        width: 17%;
        padding: 1rem;
        margin-left: 3rem;
    }
     
}


